/* reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* fine reset */

body {
  color: #fff;
  font-size: 11px;
}
/* generali */

ul {
  list-style-type: none;
}
ul li {
  margin: 10px;

}

h1 {
  text-align: center;
  color: red;
}

input {
  width: 300px;
  height: 30px;
  border-radius: 5px;

}
img {
  width: 200px;
}
button {

  width: 40px;
  height: 30px;
  border-radius: 5px;
}

.flag img {

  width: 50px;
  height: auto;
  margin: 20px 0;

}

/* classi */


.vote_average {

  color: orange;
}
.scheda {
  display: none;
}

/* layout  */



.top-header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: #1a1b1d;

}

.locandina {
  position: relative;
}

.locandina .scheda {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.locandina > img {
  width: 100%;
  box-shadow: -1px 6px 47px -1px rgba(0,0,0,0.73);
  border-radius: 18px 18px 18px 18px;
  border: 7px solid #000000;
  transition: all 1s ease
}


.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 20px;
  height: calc( 100vh - 100px);
  width: calc(100% - 280px);
  overflow-y: auto;
  background-color: #282a2d;


}

.right {
  float: right
}
.left {
  float: left;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: calc(100vh - 100px);
  background-color: #111213;
}
.sidebar li {
  margin: 30px 50px;
  font-size: 20px;
}
.sidebar img {
  width: 40px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 50%;
}

.sidebar span {
  font-size: 15px;
}
.container .item {
  flex-basis: calc( 100% / 7);
  margin: 20px 5px;


}
.account {
  border-top: .3px solid white;
}
/*  effect */

.item:hover .scheda {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: #000;
  transition: all 1s ease
}

input:focus {
  outline: none;
}
/* template */
